/* ============= SLick Slider ============= */

.slick-list {
 	overflow: hidden;
 	padding: 1px;
 }
.slick-track {
	display: flex;
}
.slaide {
	position: relative;
	transition: .3s linear;
}
.slaide:hover .arrow-slide {
	opacity: 0.8;
}
.slaide .arrow-slide {
	position: absolute;
	top: 50%;
	margin: -25px 0 0 0;
	z-index: 10;
	opacity: 0;
	transition: .3s linear;
}
.slaide .arrow-slide svg {
	color: #9a9c9a;
	background-color: #fff;
	border-radius: 8px;
}
.slaide .arrow-slide:hover {
	opacity: 1;
	cursor: pointer;
}
.slaide .prev, .slaide .prev-2, .slaide .prev-news{
	left: 0;
}
.slaide .next, .slaide .next-2, .slaide .next-news {
	right: 0;
}

.block__slaider {
	position: relative;
}
.block__slaider:hover .slick-arrow {
	opacity: 0.8;
}
.block__slaider .slick-arrow {
	position: absolute;
	top: calc(50% - 26px);
	z-index: 10;
	font-size: 0;
	width: 50px;
	height: 50px;
	background-color: #eaeaea;
	border: none;
	cursor: pointer;
	opacity: 0;
}
.block__slaider .slick-arrow:hover {
	opacity: 1;
}
.block__slaider .slick-arrow.slick-prev {
	background: url('img/svg/arrow-circle-left.svg') 0 0 / 100% no-repeat;
	left: 0;
}
.block__slaider .slick-arrow.slick-next {
	background: url('img/svg/arrow-circle-right.svg') 0 0 / 100% no-repeat;
	right: 0;
}