@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&family=Roboto:wght@400;500;700&display=swap');

h1, h2, nav a, nav p, h3, h4, h5, h6, button {
	font-family: 'Roboto', sans-serif;
}
.button__usual, .button__main {
	font-family: 'Roboto', sans-serif;
}
p {
	font-family: 'Open Sans', sans-serif;	
	font-size: 14px;
}

* {
	box-sizing: border-box;
}
a {
	text-decoration: none;
}
.wrapper {
	display: flex;
	flex-direction: column;
	min-height: 100%;
	background-color: #f8f8f8;
}
.container {
	max-width: 1200px;
	margin: 0 auto;
}
.header {
	background-color: #fff;
	margin: 0 0 20px 0;
	box-shadow: 0 1px 4px rgba(0,0,0,0.16);
}

.header__banner {
	background-color: #fff;
	display: flex;
}
.banner__content {
	height: 50px;
}
.banner__content img { 
	max-width: 1200px;
	width: 100vw;
	height: 50px;
}

/* Header top */
.header__top {
	background-color: #f8f8f8;
}
.header__top .more__info{
	color: #000;
	font-weight: 600;
}
.header__top-row {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.nav__top {
	display: flex;
	margin: 0;
	padding: 8px 0;
}
.nav__top li {
	list-style-type: none;
	margin-right: 10px;
}
.nav__top li a{
	text-decoration: none;
	font-size: 14px;
	color: #91919d;
	font-weight: 500;
}
.nav__top li a:hover {
	color: #000;
}

/* End header top */

/* Header area */
.header__area-row {
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-direction: column;
	padding: 10px 0;
}
.top__logo {
	margin: 0 0 15px 0;
	color: #50aa00;
	font-size: 17px;
	font-weight: 700;
}
.top__search {
	display: flex;
	justify-content: center;
	width: 100%;
}
.top__search input {
	flex: 0 1 80%;
	border-radius: 3px;
	border: 2px solid #60b416;
	background-color: #fff;
	padding: 10px 20px;
	width: 100%;
	font-size: 18px;
	transition: .2s linear;
}
.button__area {
	display: flex;
	justify-content: flex-end;
}
.button__area .button__usual {
	display: flex;
	flex-direction: column;
	align-items: center;
	position: relative;
	margin-right: 20px;
}
.button__usual .icon {
	margin-bottom: -3px;
}
.button__usual .icon img {
	width: 25px;
	height: 25px;
}
.button__border, .button__main, .button__usual{
	padding: 7px 10px;
	font-size: 16px;
	font-weight: 500;
	border-radius: 5px;
}
.button__border {
	border: 3px solid #62963b;
	color: #62963b;
}
.button__border:hover {
	background-color: #62963b;
	color: #fff;
}
.button__main {
	align-self: center;
	background-color: #8ae539;
	border: 3px solid #8ae539;
	border-bottom: 3px solid #60cc00;
	color: #fff;
}
.button__main:hover {
	background-color: #60cc00;
	border-color: #60cc00;	
}
.button__usual {
	font-weight: 500;
	color: #303030;
}
.button__usual:hover {
	color: #60cc00;
}
/* END Header area */

.main {
	flex: 1 1 auto;
}
/* Block */
.block {
	display: flex;
	flex-direction: column;
	margin-top: 30px;
}
.block__title {
	align-self: center;
}
.block__title a h2 {
	color: #000;
	font-size: 22px;
	font-weight: bold;
	transition: .1s linear;
}
.block__title a h2:hover {
	color: #60cc00;
}
/* End Block */

/* Navigation main*/
.nav__main {
	width: 220px;
}
.nav__main ul{
    display:flex;
    flex-direction: column;
    height:auto;
    margin:0px;
    padding: 15px 0;
    list-style:none;
    position:relative;
}

.nav__main > ul > li {
	padding: 3px 0;
	display: flex;
	width:100%; 
}
.nav__main ul li a {
	display: flex;
	align-items: center;
    width:100%;
    box-sizing:border-box;
    font-size:14px;
    text-transform:uppercase;
    font-weight: 500;
    color:#000;
    line-height: 1.2;
    padding:10px 5px 10px 15px;
    background:#fff;
    text-decoration:none;
}
.nav__main .icon {
	margin-right: 10px;
}
.nav__main .services {
	padding-top: 0;
	padding-bottom: 0;
}
.nav__main .icon__services {
	margin-left: -8px;
	margin-right: 0;
}
.nav__main ul li a:hover {
    background:#eaeaea;
}
.nav__main ul li ul {
	display: flex;
	flex-wrap: wrap;
    position:absolute;
    z-index: 100;
    top:0px;
    left:calc(100% + 2px);
    display:none;
    width:50vw;
    height: 427px;
    background-color: #fff;
    box-shadow: 0 4px 12px 0 rgba(0,0,0,0.2);
    border-radius: 5px;
    box-sizing:border-box;
}

.nav__main ul li:hover > ul {
	display:flex;
}
.nav__main ul li ul li {
	width: 100px;
}
.nav__main ul li ul li a {
	color: #888;
	font-size: 14px;
    text-transform:none;
    padding:5px 20px;
}
.nav__main ul li ul li a:hover, .nav__main ul li ul li:hover > a{
    background:#fff;
    color: #60cc00;
}
/* End Navigation main*/

/* Stock */
.stock {
	margin-bottom: 30px;
}
.stock .block {
	margin-top: 0;
}
.stock__slaider img {
	width: calc(100vw - 50px);
	max-width: 580px;
	height: auto;
	max-height: 220px;
	border-radius: 5px;
}
.slaider_item {
	margin: 0 5px;
}
/* End Stock */

/* Navigation accordion */
.nav {
	box-shadow: 0 1px 2px 0 rgba(0,0,0,0.16);
	background-color: #fff;
	border-radius: 5px;
}
ul.nav__mobil, ul.nav__mobil ul {
 list-style-type:none;
 width: 100%;
 margin: 0 auto;
 padding: 0;
 margin: 0px 5px;
}

ul.nav__mobil a {
 position: relative;
 display: block;
 padding-left: 60px;
}

ul.nav__mobil .icon, ul.nav__mobil .icon__arrow {
	position: absolute;
	
}
ul.nav__mobil .icon {
	top: 10px;
	left: 26px;
}
ul.nav__mobil .icon__services {
	top: -2px;
	left: 19px;
}
ul.nav__mobil .icon__arrow {
	top: 15px;
	right: 20px;
}
ul.nav__mobil > li a {
 color: #000;  
 padding-top: 15px;
 padding-bottom: 15px;
 -webkit-transition: 0.1s;
 -moz-transition: 0.1s;
 transition: 0.1s;
 font-family: 'Roboto', sans-serif;
 font-size: 14px; 
 border-bottom: 1px solid #ebeaec;
}

ul.nav__mobil li ul li a {
 background: #ebeaec;
 color: #333;
 padding-top: 8px;
 padding-bottom: 8px;
}
ul.nav__mobil li ul .icon__arrow {
	top: 9px;
	right: 22px;
}
ul.nav__mobil li ul .icon__arrow img {
	width: 12px;
}

ul.nav__mobil li ul li a:hover {
 background: #d4d3d5;
 padding-left: 65px;
}
/* End Navigation accordion */

/* Add info */
.add__info {
	margin-top: 30px;
}
.add__info .block {
	width: 100%;
	margin: 0;
}
.add__info .icon img {
	width: 20px;
	height: 20px;
}
.add__info .icon {
	position: absolute;
	left: 28px;
	top: 13px;
}

.mobil__button {
	position: relative;
	background-color: #fff;
	margin: 0 5px 10px 5px;
	border-radius: 5px;
	box-shadow: 0 1px 2px 0 rgba(0,0,0,0.16);
	padding: 15px 15px 15px 60px;
	color: #000;
	font-size: 16px;
}
/* End Add info */

.slaider__top-item {
	color: #000;
	border-radius: 5px;
	background-color: #fff;
	padding: 8px 12px ;
	border: none;
    outline: none;
    cursor: pointer;
    box-shadow: 0 1px 2px 0 rgba(0,0,0,0.16);
}
.slaider__top {
	margin:0 15px 5px 15px; 
}

/* Card */
.card__basic {
	width: 240px;
	display: flex;	
	border-radius: 5px;
	padding: 15px;
	background-color: #fff;
	box-shadow: 0 1px 2px 0 rgba(0,0,0,0.16);
}
.card__body > .price {
	font-size: 18px;
	font-weight: 600;
}
.card img {
	width: 100px;
	height: 100px;
	object-fit: cover;
}
.card__basic p, .card__basic h3{
	margin: 0;
}
.card .card__content {
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin: 0 0 0 10px;

}
.card .card__title h3{
	font-size: 16px;
	font-weight: 500;
	margin: 0;
}
.card__info {
	flex-direction: column;
	width: 250px;
	height: 270px;
}

.card__info > img {
	object-fit: cover;
	max-height: 120px;
	align-self: center;
}

.card__info .card__content{
	display: flex;
	flex-direction: column;
	height: 100%;
}
.goods .block__title a h2 {
	margin-bottom: 10px;
}
.card__goods {
	background: -webkit-linear-gradient(to top, #a2e566 0%, #fff 20%, #fff );
	background: linear-gradient(to top, #a2e566 0%, #fff 20%, #fff );
	flex-direction: column;
	max-width: calc(100vw - 100px);
	min-height: 290px;
}
.card__title {
	height: 50px;
	margin: 5px 0 10px 0;
}
.goods .card__title h3 {
	font-size: 16px;
	font-weight: 400;
}
.card__goods > img {
	max-height: 150px;	
}
.card__goods .more__info {
	display: flex;
	justify-content: space-between;
}
.card__goods .more__info .comments{
	position: relative;
}
.card__goods .more__info .comments img {
	position: absolute;
	right: 15px;
	top: 2px;
}
.card__goods .price {
	margin-top: 10px;
	font-size: 24px;
	font-weight: 600;
}
.card__goods .card__body {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

/* End card*/

.footer	{
	margin-top: 50px;
	background-color: #333333;
	padding-bottom: 20px; 
}
.nav__footer-mobil {
	box-shadow: none;
}
.nav__footer-mobil ul.nav__mobil {
	background-color: #333333;
}
.nav__footer-mobil ul.nav__mobil a {
	padding-left: 20px;
}
.nav__footer-mobil ul.nav__mobil li > a {
	border-bottom: 1px solid #444;
}
.nav__footer-mobil ul.nav__mobil a {
	color: #fff;
}
.nav__footer-mobil ul.nav__mobil ul {
	margin: 0;
}
.nav__footer-mobil ul.nav__mobil li ul li a {
	background-color: #444;
}
.nav__footer-mobil ul.nav__mobil li ul li a:hover {
	padding-left: 25px;
}

.nav__footer {
	margin-top: 40px;
	width: 60vw;
	display: flex;
	justify-content: space-around;
}
.nav__footer .nav__items{
	display: flex;
	flex-direction: column;
	color: #fff;
}
.nav__footer ul {
	list-style-type:none;
	margin: 0;
	padding: 0;
}
.nav__footer ul li {
	margin-bottom: 7px;
}
.nav__footer ul li a {
	color: #fff;
}
.nav__footer ul li a:hover {
	color: #60cc00;
}
.nav__footer .main__item {
	margin: 0 0 15px 0;
	font-size: 20px;
	font-weight: 500;
}

.connection__content {
	display: flex;
	flex-direction: column;
	align-items: center;
}
.connection h2, .connection p {
	color: #fff;
	margin: 0;
}
.connection h2 {
	margin: 10px 0;
}
.connection p {
	margin-bottom: 5px;
}

.mobil {
	display: flex;
}
.nomobil {
	display: none;
}

@media (min-width: 986px) {
	.mobil {
		display: none;
	}
	.nomobil {
		display: flex;
	}
	.container {
		max-width: 986px;
	}
	.banner__content img {
		max-width: 986px;
	}
	.header__area-row {
		flex-direction: row;
		align-items: center;
	}
	.top__logo {
		margin: 0;
	}
	.top__search {
		margin-left: -20px;
		width: 300px;
	}
	.offers .block {
		margin-top: 0;
	}	
	.offers .block__title a h2 {
		margin: 10px 0;
	}
	.block__main {
		display: flex;
		width: 100%;
	}
	.block__main-info {
		width: calc(986px - 220px - 30px);
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		margin: 0 30px;
	}
	.block__title a h2 {
		font-size: 24px;
	}
	.stock__slaider img {
		max-height: 195px;
	}

	.card__info {
		flex-direction: row;
		width: 450px;
		height: 180px;
	}
	.card__info > img {
		width: 200px;
		height: 170px;
	}
	.card__info .card__content {
		margin-left: 15px;
	}
	.card__goods {
		width: 300px;
	}
	.card__goods > img {
		max-height: 190px;
	}
	.card__goods .card__title {
		margin-top: 10px;
	}
	.card__goods .card__title h3{
		font-size: 16px;
	}
	.footer__row {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
	}
	.connection {
		width: 25vw;
		margin-left: 5vw;
	}
	.connection__content {
		align-items: start;
	}
}

@media (min-width: 1200px) {
	.container {
		max-width: 1200px;
	}
	.nav__main {
		width: 280px;
	}
	.block__main-info {
		width: calc(1200px - 280px - 30px);
	}
	.top__search {
		margin-left: 5px;
		width: 450px;
	}
}